* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
}

#logo {
    width: 100px;
    height: auto;
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 50%;
    cursor: pointer;
}

input {
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 20px;
    transition: all 0.5s;
    cursor: text;
}

input:hover, input:focus {
    border: 2px solid #004aad;
    box-shadow: 0 0 0 8px rgb(0, 74, 173, 0.3);
    background-color: #fff;
}

button {
    background-color: #004aad;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 8em;
    height: 2.5em;
    transition: 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

button:hover {
    background-color: #0073e6;
    box-shadow: 0 0 12px rgba(0, 74, 173, 0.4);
    color: #fff;
}

h3 {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translate(-50%, 0);
}

#date {
    position: absolute;
    top: 14vh;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 1.2rem;
    font-weight: 300;
    color: #000;
}

#error-message {
    position: absolute;
    top: 22vh;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 1.2rem;
    font-weight: 300;
    color: red;
}

#search-container {
    display: flex;
    position: absolute;
    top: 18vh;
    left: 50%;
    transform: translate(-50%, 0);
    gap: 10px;
}

#weather-data-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    margin: 25vh auto 0 auto;
}

.weather-card {
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 1.1rem;
    min-width: 180px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.weather-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

#sun {
    height: 1.5em;
    width: 1.5em;
}